body {
  font-family: sans-serif;
}

header {
  margin: 0 auto;
  width: 80%;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container > div {
  align-items: center;
  display: flex;
}

.header-container > div:first-of-type {
  align-items: flex-end;
  gap: 10px;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Yellowtail";
  font-size: 2.5rem;
  font-style: italic;
  margin: 0;
}

.logo-container > p {
  font-size: 0.8rem;
  margin: 0;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
  gap: 2px;
  list-style: none;
}

hr {
  background-image: url(./images/hr-img.png);
  border: 0;
  height: 16px;
}

main {
  width: 80%;
  margin: 0 auto;
}

.main-title-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
}

.main-title-container > div:first-of-type {
  display: flex;
  flex-direction: column;
}

.main-title-container > div:first-of-type > * {
  margin: 0;
}

.main-title-container > div:last-of-type {
  align-self: flex-end;
}

.main-title-container p {
  color: grey;
  font-size: 0.8rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

img {
  max-width: 100%;
}

.cake-image {
  width: 100%;
  object-fit: cover;
}

article p {
  text-indent: 30px;
  line-height: 1.5;
  color: grey;
}

.recipe {
  background-image: url(./images/list-bg.png);
  background-size: cover;
  display: flex;
  font-family: cursive;
  justify-content: space-around;
  padding: 0 3em;
  margin: 2em 0;
}

.recipe > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: square;
  width: 100%;
}

footer {
  margin: 0 auto;
  width: 80%;
}

.article-footer {
  align-items: center;
  display: flex;
  gap: 1em;
}

.article-footer > div > * {
  margin: 0;
}

.article-footer p {
  margin-top: 0.5em;
}

.article-footer > a {
  background-color: hsl(14, 43%, 54%);
  color: #fff;
  display: block;
  padding: 1em 2em;
  margin-left: auto;
  text-decoration: none;
}

footer {
  margin-top: 1em;
}

footer > div:last-of-type {
  align-items: center;
  display: flex;
  margin: 1em 0;
}

footer hr {
  background-image: none;
  background-color: grey;
  height: 1px;
  opacity: 0.25;
  width: 100%;
}

footer > p {
  text-align: center;
  margin: 1em auto;
  max-width: 300px;
}
